<?xml version="1.0"?>
<configuration>
    <connectionStrings>
      <add name="defaultConnectionString" providerName="MySql.Data.MySqlClient" 
           connectionString="server=localhost;port=3307;User Id=mp_user;database=mp"/>
    </connectionStrings>
  <appSettings>
    <add key="SecretHashKey" value="enter something and do not change"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="PureMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="PureMembershipProvider" connectionStringName="defaultConnectionString" 
             type="PureDev.Common.PureMembershipProvider, PureMembershipProvider" enablePasswordRetrieval="false" 
             enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" 
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" 
             passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="PureRoleProvider">
      <providers>
        <clear/>
        <add name="PureRoleProvider" connectionStringName="defaultConnectionString" 
             type="PureDev.Common.PureRoleProvider, PureMembershipProvider"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
