<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="defaultConnectionString" providerName="MySql.Data.MySqlClient"
           connectionString="server=localhost;port=3307;User Id=mp_user;database=mp"/>
  </connectionStrings>
  <appSettings>
    <add key="SecretHashKey" value="malinozabra152451kavezenewaywakalawauka czetdziestowodzisławionopośłańutoumałokłuchy" />
    <!--~NEVER CHANGE -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="PureMembershipProvider" applicationName="/" connectionStringName="defaultConnectionString" enablePasswordReset="true" enablePasswordRetrieval="false" maxInvalidPasswordAttempts="5" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" passwordAttemptWindow="10" passwordFormat="Hashed" passwordStrengthRegularExpression="" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" type="PureDev.Common.PureMembershipProvider, MyMP" />
        <add name="ClientAuthenticationMembershipProvider" serviceUri="" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="PureRoleProvider" connectionStringName="defaultConnectionString" type="PureDev.Common.PureRoleProvider, MyMP" />
        <add name="ClientRoleProvider" cacheTimeout="86400" serviceUri="" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.0" version="v4.0" />
  </startup>
</configuration>