<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="defaultConnectionString" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;User Id=mp_user;database=pure_list" />
  </connectionStrings>
  <appSettings>
    <add key="SecretHashKey" value="malinozabra152451kavezenewaywakalawauka czetdziestowodzisławionopośłańutoumałokłuchy" />
    <!--~NEVER CHANGE -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership userIsOnlineTimeWindow="15" defaultProvider="ClientAuthenticationMembershipProvider1">
      <providers>
        <clear />
        <add name="PureMembershipProvider" applicationName="/" connectionStringName="defaultConnectionString" enablePasswordReset="true" enablePasswordRetrieval="false" maxInvalidPasswordAttempts="5" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" passwordAttemptWindow="10" passwordFormat="Hashed" passwordStrengthRegularExpression="" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" type="PureDev.Common.PureMembershipProvider, MyMP" />
        <add name="ClientAuthenticationMembershipProvider" serviceUri="" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ClientAuthenticationMembershipProvider1" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider1">
      <providers>
        <clear />
        <add name="PureRoleProvider" connectionStringName="defaultConnectionString" type="PureDev.Common.PureRoleProvider, MyMP" />
        <add name="ClientRoleProvider" cacheTimeout="86400" serviceUri="" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ClientRoleProvider1" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.0" version="v4.0" />
  </startup>
</configuration>